/* CSS CUSTOM STYLES */

.glyphicon-large {
	font-size: 1.5em;}

.container-cap{
	margin-top:50px;}
.treebg {
	background-image: url(../images/circuitree1.jpg);
	background-repeat: no-repeat;
	background-size: 900px;
	background-position:center;
	background-color: #000;}
.hover-green:hover {color: green;}

h1 {color: #009245;}
h1 small {color: #FFFFFF;}

section {margin: 60px auto 30px;}
.mainfooter {
	background-image: url(../images/circuitroots1.jpg);
	background-repeat: no-repeat;
	background-size: 900px;
	background-position: top center;
	background-color: #000;
	color: #FFFFFF;}
@media (max-width:991px){blockquote{ font-size: 14px;}}
	
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.maps {
	padding-bottom: 66%;
	margin-bottom: 20px;
}
